.carrousel {
    display: block;
    height: 415px;
    margin: 0 0 30px 0;
    position: relative;
    width: 100%;
}

.fleche {
    position: absolute;
    width: 45px;
    z-index: 1;
    cursor: pointer;
}

.fleche-gauche {
    margin-left: 25px;
    top: 50%;
}
.fleche-droite {
    margin-right: 25px;
    right: 0;
    top: 50%;
}

.carrousel-img {
    border-radius: 15px;
    height: 415px;
    object-fit: cover;
    display: none;
    width: 100%
}
.carrousel-img.actif {
    display: block;
}

.compteur {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

.compteur-p{
font-size: 25px;
color: #FFFFFF;
}



@media screen and (max-width: 376px) {
    .carrousel {
        height: 255px;
        margin-bottom: 15px;
    }

    .fleche {
        width: 15px;
    }
    
    .fleche-gauche {
        margin-left: 5px;
    }
    .fleche-droite {
        margin-right: 5px;
    }

    .carrousel-img {
        height: 255px;
        margin: 0 0 15px 0;
    }
}