.footer{
display: flex;
justify-content: center;
align-items: center; 
flex-direction: column-reverse;
background: #000000;
height: 209px;

}

.footer-text{
font-family: 'Montserrat';
font-size: 24px;
color: #FFFFFF;
margin: 10px;
}

.footer-img{
margin: 29px;
}