a{
    text-decoration: none;
}

.kasa-header{
display: flex;
justify-content: space-between;
align-items: center;
margin: 40px 100px 0;
}

.kasa-logo{
    width: 210px;
}

.kasa-nav{
display: flex;
justify-content: space-between;
}


.kasa-accueil{
font-family: 'Montserrat';
font-size: 24px;
margin: auto 57px;
color: #FF6060;
}

.kasa-propos{
    font-family: 'Montserrat';
    font-size: 24px;
    color: #FF6060;  
}

@media screen and (max-width: 1000px)
{
    .kasa-header{
    margin: 20px 20px 0 20px;
}

    .kasa-logo{
        width: 8em;
    }

    .kasa-accueil{
        margin: auto 10px;
        font-size: 12px;
        text-transform: uppercase
    }

    .kasa-propos{
        font-size: 12px;
        text-transform: uppercase
    }
}

