.Fiche {
    color: #ff6060;
    margin: 26px 100px 14px;
}

.logements-propietaire {
    display: flex;
    align-items: baseline;
    width: 100%;
}

.information-logements {
    flex-direction: column;
    flex: 1;
}

.titre-logement {
    font-size: 36px;
}

.Fiche .description-dropdown{
    font-size: 18px;
}

.endroit-logement {
    display: block;
    font-size: 18px;
}

.information-propietaire {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 17px;
}

.nom-proprietaire {
    font-size: 18px;
    margin-right: 10px;
    text-align: right;
    width: min-content;
}

.photo-propietaire {
    border-radius: 50%;
    height: 64px;
    object-fit: cover;
    width: 64px;
}

.note {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.etoile {
    height: 30px;
    width: 30px;
}

.Fiche .titre-dropdown{
    font-size: 18px;
}

.description-equipements {
    display: inline-flex;
    gap: 0 75px;
    line-height: 22.5px;
    list-style: none;
    width: 100%;
}

.description-equipements .dropdown {
    width: 50%;
}

@media screen and (max-width: 1000px) {

    .Fiche{
        margin: 27px 20px 65px;
    }

    .logements-propietaire {
        display: block;
    }

    .titre-logement {
        display: block;
        font-size: 18px;
        margin-bottom: 5px;
    }

    .endroit-logement {
        font-size: 14px;
    }

    .tags .tag {
        min-width: 50px;
        font-size: 10px;
        margin: 10px 10px 16px 0;
    }

    .proprietaire-note {
        display: inline-flex;
        flex-direction: row-reverse;
        width: 100%;
    }
    
    .nom-proprietaire{
        font-size: 12px;
    }

    .information-propietaire {
        margin-bottom: unset;
        width: 100%;
    }

    .photo-propietaire {
        height: 32px;
        width: 32px;
    }

    .etoile {
        height: 15px;
        width: 15px;
    }

    .description-equipements {
        display: block;
    }

    .Fiche .titre-dropdown{
    font-size: 13px;
    }

    .Fiche .description-dropdown{
    font-size: 12px;
}

    .description-equipements .dropdown {
        width: 100%;
    }
    
}